# top-most EditorConfig file\
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.js,*.tsx,*.ts}]
indent_style = space
indent_size = 4

[{*.md,*.json,*.toml,*.yml,}]
indent_style = space

[*.html]
indent_style = space
indent_size = 4

[*.scss]
indent_style = space
indent_size = 4
